services:
    nginx:
        image: nginx:latest
        container_name: nginx
        ports:
        - "80:80"
        volumes:
        - ./web:/var/www/html
        - ./dockerfiles/default.conf:/etc/nginx/conf.d/default.conf
        depends_on:
        - php-fpm

    php-fpm:
        build:
            context: ./dockerfiles
            dockerfile: Dockerfile.php-fpm
        container_name: php-fpm
        volumes:
            - ./web:/var/www/html
